body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

.topo {
  text-align: center;
  padding: 30px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

nav button {
  background: #6a00ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

section {
  display: none;
  padding: 20px;
}

section.ativa {
  display: block;
}

.card {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
}

.roxo {
  background: #5e17eb;
}

.premium {
  background: #111;
  border: 2px solid gold;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}

.checkbox {
  display: block;
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

.btn-premium {
  background: gold;
  color: black;
  font-weight: bold;
  width: 100%;
  padding: 12px;
  border-radius: 20px;
}
